<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="ILogger" type="Backbone.Logging.ILogger, Backbone" />
    <alias alias="IRepository" type="Backbone.Repository.IRepository, Backbone" />
    <alias alias="IProductServiceContract" type="HB.Services.Api.Products.IProductServiceContract, HB.Services.Api" />
    
    <container>
      <register type="ILogger" mapTo="Backbone.Logging.DebugLogger, Backbone" />
      <register type="IRepository" mapTo="HB.Persistence.Repository, HB.Persistence" />
      <register type="IProductServiceContract" mapTo="HB.Services.Products.ProductService, HB.Services" />


    </container>

  </unity>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="query.substitutions">hqlFunction=SQLFUNC</property>
      <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
      <property name="connection.connection_string">
        <!--Data Source=winsql01.hkdns.co.za;Initial Catalog=OpenSalsadev_sql;User ID=admin_support_sql;Password=Supp0rt!-->
        <!--Data Source=winsql01.hkdns.co.za;Initial Catalog=OpenSalsaProd_sql;User ID=admin_support_sql;Password=Supp0rt!-->
        <!--Data Source=winsql01.hkdns.co.za;Initial Catalog=OpenSalsaUat_sql;User ID=admin_support_sql;Password=Supp0rt!-->
        Data Source=.;Initial Catalog=HonestBobDev;Integrated Security=True
        
      </property>
      <property name="current_session_context_class">web</property>
      <property name="show_sql">true</property>
      <mapping assembly="HB.Persistence" />
    </session-factory>
  </hibernate-configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
