<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProductServiceContract" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductServiceContract"
          contract="ProductService.IProductServiceContract" name="BasicHttpBinding_IProductServiceContract" />
    </client>
  </system.serviceModel>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="query.substitutions">hqlFunction=SQLFUNC</property>
      <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
      <property name="connection.connection_string">
        <!--Data Source=winsql01.hkdns.co.za;Initial Catalog=OpenSalsadev_sql;User ID=admin_support_sql;Password=Supp0rt!-->
        <!--Data Source=winsql01.hkdns.co.za;Initial Catalog=OpenSalsaProd_sql;User ID=admin_support_sql;Password=Supp0rt!-->
        <!--Data Source=winsql01.hkdns.co.za;Initial Catalog=OpenSalsaUat_sql;User ID=admin_support_sql;Password=Supp0rt!-->
        Data Source=.;Initial Catalog=HonestBobDev;Integrated Security=True

      </property>
      <property name="current_session_context_class">web</property>
      <property name="show_sql">true</property>
      <mapping assembly="HB.Persistence" />
    </session-factory>
  </hibernate-configuration>
  
</configuration>