<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductServiceContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductServiceContract"
                contract="ProductService.IProductServiceContract" name="BasicHttpBinding_IProductServiceContract" />
        </client>
    </system.serviceModel>
</configuration>